@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Ghibli Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Ghibli Regular'), url('../ui/Eyad\ Al-Samman\ -\ Ghibli.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Ghibli Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Ghibli Bold'), url('../ui/Eyad\ Al-Samman\ -\ Ghibli-Bold.woff') format('woff');
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #1d1d1d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
